<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ServerIp" value="127.0.0.1"/>
    <add key="WTcpPort" value="9811"/>
    <add key="ShutAtHour" value="23"/>
    <add key="ShutAtMinute" value="00"/> 
    <add key="PrintTicket" value="true"/>
    <add key="PrintRecipe" value="true"/>
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="Printer2Name" value="Microsoft Print to PDF"/>
    <add key="Register" value="WzInspectRegister"/>
    <add key="RegisteMode" value="RegisteFlows"/>
    <add key="ServiceName" value="x"/>
    <add key="StafferName" value="x"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQueueService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IQueueService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9811/QueueServiceHttp" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQueueService" contract="QServicePoint.IQueueService"
                name="BasicHttpBinding_IQueueService" />
            <endpoint address="net.tcp://localhost:9810/QueueServicePoint/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IQueueService"
                contract="QServicePoint.IQueueService" name="NetTcpBinding_IQueueService" />
        </client>
    </system.serviceModel>
</configuration>
