@{
    Layout = "~/Views/Shared/_Chart.cshtml";
    ViewBag.Title = "今日统计图表";
}

@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        .cardbox {
            margin: 10px;
            border: 1px solid #f3f3f3;
            padding: 20px;
            background-color: #FFFFCC;
            text-align: center;
        }
        .cardbox h2{
            color:green;
            font-weight:bolder;
        }
    </style>
}

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
    </script>
}

<!-- table star -->
<div class="row col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-title">
                <h5>今日统计图表</h5>
                <div class="ibox-tools rboor">
                    &nbsp;
                </div>
            </div>
            <div class="ibox-content">
                <p style="text-align:right;"><a class="btn btn-primary btn-xs p310"><i class="im-plus"></i> 立即刷新</a></p>
                <!-- search end -->
                <div class="divider"></div>
                <br />
                <div id="example_wrapper" class="dt-bootstrap no-footer">
                    <div class="row col-md-3">
                        <div class="cardbox">
                            <h2>3020</h2>
                            <p>正在等候人数</p>
                        </div>
                    </div>
                    <div class="row col-md-3">
                        <div class="cardbox">
                            <h2>20</h2>
                            <p>正在检查人数</p>
                        </div>
                    </div>
                    <div class="row col-md-3">
                        <div class="cardbox">
                            <h2>807</h2>
                            <p>已就诊人数</p>
                        </div>
                    </div>
                    <div class="row col-md-3">
                        <div class="cardbox">
                            <h2>4343</h2>
                            <p>所有患者人数</p>
                        </div>
                    </div><p>&nbsp;</p><br /><br />
                    <div style="clear:both;"></div>
                    <div><h3 style="text-align:center;">今日就诊患者人数曲线图</h3></div>
                    <div class="row col-md-12" id="main3" style="height:400px;"></div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart3 = echarts.init(document.getElementById('main3'));
     
    option3 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
        },
        legend: {
            data: ['男患者', '女患者', '全部患者']
        },
        xAxis: [
            {
                type: 'category',
                data: ['7点', '8点', '9点', '10点', '11点', '12点', '13点', '14点', '15点', '16点', '17点','18点'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '人数',
                min: 0,
                max: 250,
                interval: 50,
                axisLabel: {
                    formatter: '{value} 人次'
                }
            },
            {
                type: 'value',
                name: '人数',
                min: 0,
                max: 250,
                interval: 50,
                axisLabel: {
                    formatter: '{value} 人次'
                }
            }
        ],
        series: [
            {
                name: '男患者',
                type: 'bar',
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            },
            {
                name: '女患者',
                type: 'bar',
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
            },
            {
                name: '全部患者',
                type: 'line',
                yAxisIndex: 1,
                data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。 
    myChart3.setOption(option3);
</script>

